body{
  background-color: #BBDED6;
}

hr{
  background-color: #BBDED6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 15%;
}

h1{
  color: #3B8F8F;
}

h3{
  color: #3B8F8F;
}

.dpt:hover{
  border-style: dashed;
}
